// Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background:url('../images/bg1.png') no-repeat fixed;
  background-size: cover;
}

.header{
  margin: 30px auto 0 auto;
  @include outer-container;
  color:white;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  border-radius: 6px;
  padding: 60px;
  h1 {
    @include span-columns(12);
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    text-align: center;
  }
  li {
    @include span-columns(3);
    list-style: none;
    display: inline;
    a {
      text-decoration: none;
      color: white;
      font-size: 1.5em;
      letter-spacing: 8px;
    }
  }
}